/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #02022c;
    padding: 10px 20px;
    color: #fff;
    width: 100%;
    margin-left: 0%;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    margin: 5px;
    margin-left: 20px;
  }
  
  .menu-toggle {
    cursor: pointer;
    display: none;
  }
  
  .bar {
    width: 20px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
  }
  
  .nav-menu {
    display: flex;
    flex-direction: row; /* Adjust to column for vertical alignment */
  }
  
  .nav-item {
    cursor: pointer;
    padding: 10px 20px; /* Adjust the padding for spacing */
    font-size: 1.2rem;
    color: #fff;
    margin: 2px;
  }

  .nav-item:hover{
    color: yellow;
  }

  .nav-item ::after{
    content: '';
    height: 2px;
    width: 100%;
    display: block;
    background-color: aqua;
  }
  
  @media (max-width: 768px) {
    .menu-toggle {
      display: block;
    }
  
    .nav-menu {
      display: none;
      flex-direction: column;
      align-items: flex-end;
      position: absolute;
      top: 60px;
      right: 20px;
      background-color: #02022c;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      padding: 10px;
    }
  
    .nav-menu.open {
      display: flex;
    }
  
    .nav-item {
      margin: 10px 0; /* Adjust margin for spacing in mobile view */
    }
  }

.nav-item :hover{
    color: #fff;
  }
